


<div class="container">
        <h1>Détails ...</h1>
        <div class="jumbotron">
                <dl class="row">
                        <dt class="col-sm-3">Réference</dt>
                        <dd class="col-sm-9">{{batteri.id}}</dd>
                        <dt class="col-sm-3">Nom</dt>
                        <dd class="col-sm-9">{{batteri.name}}</dd>
                        <dt class="col-sm-3">Capacité</dt>
                        <dd class="col-sm-9">{{batteri.capacite}}</dd>
                        <dt class="col-sm-3">Tension</dt>
                        <dd class="col-sm-9">{{batteri.tension}}</dd>
                        <dt class="col-sm-3">Dimension</dt>
                        <dd class="col-sm-9">{{batteri.dimension}}</dd>
                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9">{{batteri.description}}</dd>
                        <dt class="col-sm-3">Prix</dt>
                        <dd class="col-sm-9">{{batteri.price}}</dd>
                        
                </dl>
        </div>
</div>